<div id="content">
    <div class="line_home">
        <p class="home_tittle">Funcionamento da Aplicação</p>
        <img id="img_aplication" src="/img/IFCLOUD_02.png" alt="">
    </div>

    <div class="line_home line_home_p">
        <p class="home_tittle">API Routes</p>

        <div class="home_card">
            <p><b>1. Rota direta</b>:</p>
            <p>Nesta rota é possivel rodar "scripts python" que estejam no servidor diretamente.</p>
            <p><b>Rota = <%=process.env.API_URL%>/run_script/direct/:script_name</b></p>
            <p># - ":script_name" = passar o nome de um script que exista no servidor.</p>
        </div>

        <div class="home_card">
            <p><b>2. Rota utilizando Resource FHIR Patient:</b></p>
            <p>Nesta rota é possivel rodar "scripts python" buscando por "Patient" na API CloudECG.</p>
            <p><b>Rota = <%=process.env.API_URL%>/run_script/patient/:id</b></p>
            <p># - ":id" = passar um "id" de um "Patient" existente no servidor da API.</p>
        </div>

        <div class="home_card">
            <p><b>3. Rota utilizando Resource FHIR Observation:</b></p>
            <p>Nesta rota é possivel rodar "scripts python" buscando por "Observation" na API CloudECG.</p>
            <p><b>Rota = <%=process.env.API_URL%>/if_cloud/run_script/observation/:id</b></p>
            <p># - ":id" = passar um "id" de um "Observation" existente no servidor da AP.</p>
        </div>

        <div class="home_card">
            <p><b>4. Upload de arquivos:</b></p>
            <p>Na aba "Upload" é possivel fazer o upload de scripts Python, eles ficaram salvos
            na nuvem e poderam ser acessados a qualquer momento.
            </p>
            <p>Selecionar um script em python para fazer upload no servidor, somente arquivos ".py".</p>
        </div>

        <div class="home_card">
            <p><b>5. Rotas utilizando Operations:</b></p>
            <p>Nesta rota é possivel rodar scripts Python que estejam na nuvem, interagindo com 
                os Resources vindos da CloudECG, como Patient e Observation.
            </p>
            <p><b>Rota = <%=process.env.API_URL%>/run_script/operation</b></p>
            <p>Esta rota esta acessivel e pode ser usada atraves de requisições HTTP, enviando
                um JSON padrão, criado especialmente para esta aplicação.
            </p>
            <p>Este JSON permite setar algumas informações importantes para o funcionamento da engine.</p>
            <p>JSON padrão:</p>
            <img id="img_json_form" src="/IMG/JSON_FORM.png" alt="">
            <p><b>- resourceType:</b> do tipo "String", tipo de resource, pode ser Observation ou Patiente.</p>
            <p><b>- id:</b> do tipo "String", id do resource salvo na CloudECG.</p>
            <p><b>- scriptName:</b> do tipo "String", nome do script em Python desejado.</p>
            <p><b>- haveInputParams:</b> do tipo "Boolean", se existem paramestros adicionais que devem ser
                passados para a nuvem.
            </p>
            <p><b>- inputParams:</b> do tipo "Array String", paremetros adicionais.</p>
            <p><b>- index:</b> do tipo "String", indice do componente salvo dentro do resource que desejado
                ser alterado.
            .</p>
            <p><b>- changeField:</b> do tipo "String", campo do componente selecionado que deve ser alterado.</p>
            <p><b>- returnOnlyFieldsComponent:</b> do tipo "Boolean", se deve ser retornado todos os campos
                do resource alterado ou somente do componente.
            </p>

            <p>Também é possivel utilizar o JSON padrão pela aba "Form", lá estara um formulário
                que desmonstrara a utilização do sistema.
            </p>
        </div>

    </div>
</div>