<div id="content">
    <div class="line_home">
        <p class="home_tittle">Funcionamento da Aplicação</p>
        <img id="img_aplication" src="/img/IFCLOUD_02.png" alt="">
    </div>

    <div class="line_home line_home_p">
        <p class="home_tittle">API Routes</p>

        <div class="home_card">
            <p><b>Para que serve?</b>:</p>
            <p>IF-Cloud auomatiza a execução de scripts Python que tem upload realizado por meio desta interface gráfica. IF-Cloud utiliza os dados dos recursos FHIR provenientes de alguma API de CRUD e retorna um outro recurso FHIR com os dados processados pelos scripts. IF-Cloud adiciona operações que são executadas esporadicamente no ecossistema de aplicações saúde digital.</p>
            <p>
                <b>Este deploy de IF-Cloud está vincula a API FHIR da URL:
                    <a href="<%=process.env.FHIR_API_URL%>" target="_blank"><%=process.env.FHIR_API_URL%></a>
                </b>
            </p>
        </div>

        <div class="home_card">
            <p><b>Upload de arquivos:</b></p>
            <p>
                Na aba "Upload" é possivel fazer o upload de scripts Python, eles ficaram salvos na nuvem e poderam ser acessados a qualquer momento.
            </p>
            <p>
                Selecionar um script em python para fazer upload no servidor, somente arquivos ".py".
            </p>
            <p>
                Antes do upload, todos os scripts Python vão precisar adicionar:
                <ol>
                    <li>importar <code>from helpers.file_utils import read_params_file</code></li>
                    <li>carregar a entrada de dados com <code>data = read_params_file(params_file)</code></li>
                </ol> 
                Veja exemplos de scripts Python com essas mudanças no diretório <code>testfiles</code> do <a href="https://github.com/if4health/ifcloud" target="_blank">código-fonte de IF-Cloud</a>

            </p>
        </div>

        <div class="home_card">
            <p><b>Configurando IF-Cloud:</b></p>
            <p>No menu "Form" é possivel configurar IF-Cloud para rodar scripts Python que estejam na nuvem, interagindo com 
                os recursos FHIR vindos da API FHIR, como Patient e Observation.
            </p>
            <p><b>JSON de Configuração</b></p>
            <p>
                Preenchendo o formulário, IF-Cloud configura um JSON padrão criado especialmente para esta aplicação. Este JSON permite setar algumas informações importantes para o funcionamento da engine.
                O JSON também pode ser enviado diretamente - sem interface gráfica - via requisição POST para a rota /run_script/operation
            </p>
            <img id="img_json_form" src="/IMG/JSON_FORM.png" alt="">
            <p><b>- resourceType:</b> do tipo "String", tipo de resource, pode ser Observation ou Patiente.</p>
            <p><b>- id:</b> do tipo "String", id do resource salvo na CloudECG.</p>
            <p><b>- scriptName:</b> do tipo "String", nome do script em Python desejado.</p>
            <p><b>- haveInputParams:</b> do tipo "Boolean", se existem paramestros adicionais que devem ser
                passados para a nuvem.
            </p>
            <p><b>- inputParams:</b> do tipo "Array String", paremetros adicionais.</p>
            <p><b>- index:</b> do tipo "String", indice do componente salvo dentro do resource que desejado
                ser alterado.
            .</p>
            <p><b>- changeField:</b> do tipo "String", campo do componente selecionado que deve ser alterado.</p>
            <p><b>- returnOnlyFieldsComponent:</b> do tipo "Boolean", se deve ser retornado todos os campos
                do resource alterado ou somente do componente.
            </p>

        </div>

    </div>
</div>