<footer>
    <div class="foot_line">
        <div class="foot_item foot_item_1">
            <img class="foot_inst_logo" src="/img/IFSUL.png" alt="">
        </div>
        <div class="foot_item foot_item_2">
            <img id="if_cloud_logo" src="/img/IF_CLOUD_LOGO.png" alt="">
            <p>- Developed By Juliano Machado</p>
        </div>
        <div class="foot_item foot_item_1">
            <img class="foot_inst_logo" src="/img/If4HEALTH.png" alt="">
        </div>
    </div>
</footer>