<script>
    let x = 'ifcloud/home';
</script>
<header>
    <img id="icon" src="/img/IF_CLOUD_ICON.png" alt="">
    <a href="<%= process.env.HOME_PAGE %>">Home</a>
    <a href="<%= process.env.UPLOAD_PAGE %>">Upload</a>
    <a href="<%= process.env.FORM_PAGE %>">Form</a>
    <a href="<%= process.env.ABOUT_PAGE %>">About</a>
</header>