bidict==0.23.1
biosppy==2.2.2
bson==0.5.10
contourpy==1.2.1
cycler==0.12.1
dnspython==2.6.1
fonttools==4.53.1
h5py==3.11.0
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.1
mock==5.1.0
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
pymongo==4.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyWavelets==1.6.0
scikit-learn==1.5.1
scipy==1.14.0
shortuuid==1.0.13
six==1.16.0
threadpoolctl==3.5.0
