<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>IFCloud File Upload</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div id="content">
        <div id="card">
            <form id="file_upload_form" action="/ifcloud/uploader" name="script" enctype="multipart/form-data" method="POST">
                <div class="line">
                    <h2>File Uploader</h2>
                </div>

                <div id="line_file" class="line">
                    <label>Selecione o arquivo</label>
                    <input id="file_uploader" type="file" name="script" required pattern=".{1,}">
                </div>

                <div class="line">
                    <button id="upload">Upload File</button>
                </div>
            </form>
        </div>

        <div id="card">
            <div class="line">
                <h2>Arquivos salvos na nuvem</h2>
            </div>
            <% if(typeof files !== 'undefined') { %>
                <% files.forEach(element => { %>
                    <div class="line">
                        <p class="card_list"><%- element %></p>
                    </div>
                <% }); %>
            <% }else{ %>
                <div class="line">
                    <p>Não existem arquivos salvo na nuvem!</p>
                </div>
            <% } %>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
<body>
</html>